*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: rgb(181, 247, 151);
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 127, 238);
}

.footer{
    text-align: center;
}